<label for="recipe_name">Name</label>
<input class = "form-control" id="name" name="recipe[name]" type="text">

<label for="recipe_content">Content</label>
<textarea class = "form-control" rows= "3" id="content" name="recipe[content]" type="text"></textarea>

<% Tag.all.each do |tag| %>
&nbsp;
 <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"><%= tag.name %>

 <% end %>
