<h1> Add a new tag to your cookbook</h1>

<form class="smallWrapper" action="/tags/" method="post">

  <label for="tag_name">Name of Tag</label>
  <input class = "form-control" id ="name" name="tag[name]" type="text">

  <button class="btn btn-success">Create Tag</button>
</form>


