<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

<%= yield %>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
 <br />
    <a href="/recipes/new">Make a new Recipe</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/tags/">View Tags</a>


  </div>
</div>
</nav>
</div>
</body>
</html>
